In [1]:
import os 
import pandas as pd
import numpy as np
import sys

# Add the root directory of your project to the Python path
sys.path.append('/Users/atharv/MLProjects/BostonHousingPrediction/boston-housing-prediction')

In [2]:
from steps.data_ingestion_step import data_ingestion_step

raw_df = data_ingestion_step("../data/archive.zip")

In [3]:
raw_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
from steps.handle_missing_values_step import handle_missing_values_step
filled_data = handle_missing_values_step(raw_df, strategy="mean")

2025-04-01 09:34:49,753 - INFO - Executing missing value handling strategy.
2025-04-01 09:34:49,753 - INFO - Filling missing values using method: mean
2025-04-01 09:34:49,762 - INFO - Missing values filled.

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [6]:
filled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
from steps.data_splitter_step import data_splitter_step
X_train, X_test, y_train, y_test = data_splitter_step(filled_data, target_column="MEDV")

2025-04-01 09:34:55,013 - INFO - Splitting data using the selected strategy.
2025-04-01 09:34:55,013 - INFO - Performing simple train-test split.
2025-04-01 09:34:55,016 - INFO - Train-test split completed.

In [8]:
X_train.shape

(404, 13)

In [9]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
477,15.02340,0.0,18.10,0,0.6140,5.304,97.3,2.1007,24,666.0,20.2,349.48,24.91
15,0.62739,0.0,8.14,0,0.5380,5.834,56.5,4.4986,4,307.0,21.0,395.62,8.47
332,0.03466,35.0,6.06,0,0.4379,6.031,23.3,6.6407,1,304.0,16.9,362.25,7.83
423,7.05042,0.0,18.10,0,0.6140,6.103,85.1,2.0218,24,666.0,20.2,2.52,23.29
19,0.72580,0.0,8.14,0,0.5380,5.727,69.5,3.7965,4,307.0,21.0,390.95,11.28

In [10]:
y_train.head()

477    12.0
15     19.9
332    19.4
423    13.4
19     18.2
Name: MEDV, dtype: float64

In [11]:
print(type(y_train))

<class 'pandas.core.series.Series'>

In [16]:
from steps.feature_engineering_step import feature_engineering_step

X_train_scaled, X_test_scaled = feature_engineering_step(train_df=X_train, test_df= X_test, strategy="minmax_scaling")

2025-04-01 09:35:25,566 - INFO - Applying feature engineering strategy.
2025-04-01 09:35:25,567 - INFO - Applying Min-Max scaling to features: entire DataFrame with range (0, 1)
2025-04-01 09:35:25,572 - INFO - Min-Max scaling completed.
2025-04-01 09:35:25,573 - INFO - Applying feature engineering strategy.
2025-04-01 09:35:25,574 - INFO - Applying Min-Max scaling to features: entire DataFrame with range (0, 1)
2025-04-01 09:35:25,577 - INFO - Min-Max scaling completed.

In [17]:
print(type(X_train_scaled))

<class 'pandas.core.frame.DataFrame'>

In [18]:
X_test_scaled

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
173,0.000930,0.0,0.122593,0.0,0.257202,0.519219,0.836251,0.137921,0.173913,0.208015,0.425532,0.996470,0.201711
274,0.000533,0.4,0.210000,1.0,0.127572,0.588774,0.308960,0.268076,0.130435,0.127863,0.531915,1.000000,0.049669
491,0.001087,0.0,1.000000,0.0,0.460905,0.431157,0.987642,0.067155,0.130435,1.000000,0.797872,0.982879,0.450883
72,0.000928,0.0,0.372963,0.0,0.057613,0.447834,0.050463,0.378079,0.130435,0.225191,0.702128,0.984896,0.104581
452,0.057112,0.0,0.642963,0.0,0.674897,0.495017,0.915551,0.112632,1.000000,0.914122,0.808511,0.970220,0.428808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,0.211336,0.0,0.642963,0.0,0.436214,0.155583,1.000000,0.038584,1.000000,0.914122,0.808511,0.071789,0.900662
436,0.161989,0.0,0.642963,0.0,0.730453,0.528371,0.930999,0.079386,1.000000,0.914122,0.808511,0.068511,0.450331
411,0.157830,0.0,0.642963,0.0,0.436214,0.568233,1.000000,0.036183,1.000000,0.914122,0.808511,0.087574,0.537804
86,0.000481,0.0,0.138889,0.0,0.131687,0.437665,0.434604,0.299866,0.086957,0.114504,0.627660,0.997705,0.307119
75,0.000967,0.0,0.447778,0.0,0.106996,0.492780,0.433574,0.306723,0.173913,0.402672,0.648936,0.965530,0.198951

In [19]:
X_train_scaled

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
477,0.168763,0.00,0.642963,0.0,0.471193,0.293065,0.972194,0.088307,1.000000,0.914122,0.808511,0.880428,0.639625
15,0.006950,0.00,0.274074,0.0,0.314815,0.400854,0.552008,0.306359,0.130435,0.229008,0.893617,0.996772,0.185982
332,0.000288,0.35,0.197037,0.0,0.108848,0.440919,0.210093,0.501150,0.000000,0.223282,0.457447,0.912628,0.168322
423,0.079146,0.00,0.642963,0.0,0.471193,0.455562,0.846550,0.081132,1.000000,0.914122,0.808511,0.005547,0.594923
19,0.008056,0.00,0.274074,0.0,0.314815,0.379093,0.685891,0.242514,0.130435,0.229008,0.893617,0.984997,0.263521
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.001822,0.00,0.289630,0.0,0.277778,0.401261,0.916581,0.098337,0.173913,0.375954,0.882979,0.996898,0.467163
270,0.003261,0.20,0.230370,0.0,0.162551,0.405328,0.403708,0.300030,0.086957,0.068702,0.638298,0.979197,0.310982
348,0.000067,0.80,0.047037,0.0,0.102881,0.563758,0.276004,0.656039,0.130435,0.177481,0.468085,0.984972,0.117550
435,0.125342,0.00,0.642963,0.0,0.730453,0.562538,0.944387,0.090489,1.000000,0.914122,0.808511,0.276186,0.594371
102,0.002469,0.00,0.289630,0.0,0.277778,0.516982,0.849640,0.144141,0.173913,0.375954,0.882979,0.177720,0.245585

In [20]:
X_train_scaled, X_test_scaled = feature_engineering_step(train_df=X_train, test_df= X_test, strategy="minmax_scaling")

2025-04-01 09:35:36,382 - INFO - Applying feature engineering strategy.
2025-04-01 09:35:36,383 - INFO - Applying Min-Max scaling to features: entire DataFrame with range (0, 1)
2025-04-01 09:35:36,388 - INFO - Min-Max scaling completed.
2025-04-01 09:35:36,389 - INFO - Applying feature engineering strategy.
2025-04-01 09:35:36,389 - INFO - Applying Min-Max scaling to features: entire DataFrame with range (0, 1)
2025-04-01 09:35:36,392 - INFO - Min-Max scaling completed.

In [21]:
print(type(X_train_scaled))

<class 'pandas.core.frame.DataFrame'>

In [22]:
X_train_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
477,0.168763,0.00,0.642963,0.0,0.471193,0.293065,0.972194,0.088307,1.000000,0.914122,0.808511,0.880428,0.639625
15,0.006950,0.00,0.274074,0.0,0.314815,0.400854,0.552008,0.306359,0.130435,0.229008,0.893617,0.996772,0.185982
332,0.000288,0.35,0.197037,0.0,0.108848,0.440919,0.210093,0.501150,0.000000,0.223282,0.457447,0.912628,0.168322
423,0.079146,0.00,0.642963,0.0,0.471193,0.455562,0.846550,0.081132,1.000000,0.914122,0.808511,0.005547,0.594923
19,0.008056,0.00,0.274074,0.0,0.314815,0.379093,0.685891,0.242514,0.130435,0.229008,0.893617,0.984997,0.263521

In [23]:
X_test_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
173,0.000930,0.0,0.122593,0.0,0.257202,0.519219,0.836251,0.137921,0.173913,0.208015,0.425532,0.996470,0.201711
274,0.000533,0.4,0.210000,1.0,0.127572,0.588774,0.308960,0.268076,0.130435,0.127863,0.531915,1.000000,0.049669
491,0.001087,0.0,1.000000,0.0,0.460905,0.431157,0.987642,0.067155,0.130435,1.000000,0.797872,0.982879,0.450883
72,0.000928,0.0,0.372963,0.0,0.057613,0.447834,0.050463,0.378079,0.130435,0.225191,0.702128,0.984896,0.104581
452,0.057112,0.0,0.642963,0.0,0.674897,0.495017,0.915551,0.112632,1.000000,0.914122,0.808511,0.970220,0.428808

In [25]:
type(y_train)

pandas.core.series.Series

In [26]:
from steps.model_building_step import model_building_step

model = model_building_step(X_train_scaled, y_train)

2025-04-01 09:36:21,656 - INFO - Building and training the model using the selected strategy.
2025-04-01 09:36:21,658 - INFO - Training Linear Regression model.
2025-04-01 09:36:21,673 - INFO - Model training completed.

In [27]:
from steps.model_evaluator_step import model_evaluator_step

evaluation_metrics = model_evaluator_step(model, X_test_scaled, y_test)

2025-04-01 09:52:57,790 - INFO - Evaluating the model using the selected strategy.
2025-04-01 09:52:57,791 - INFO - Predicting using the trained model.
2025-04-01 09:52:57,793 - INFO - Calculating evaluation metrics.
2025-04-01 09:52:57,796 - INFO - Model Evaluation Metrics: {'Mean Squared Error': 24.29111947497352, 'R-Squared': 0.668759493535632}

In [28]:
evaluation_metrics

({'Mean Squared Error': 24.29111947497352, 'R-Squared': 0.668759493535632},
 24.29111947497352)